<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome TO Express</h1>

    <form action="/addData" method="post">
        <input type="text" placeholder="Enter Name" name="name">
        <input type="text" placeholder="Enter subject" name="subject">

        <button type="submit">Add Data</button>
    </form>

    <table width="100%" border="1">
        <tr>
            <td>id</td>
            <td>name</td>
            <td>subject</td>
            <td colspan="2">Action</td>
        </tr>

        <%students.map((e,i)=>{%>
            <tr>
                <td><%=e.id%></td>
                <td><%=e.name%></td>
                <td><%=e.subject%></td>
                <td><button><a href="">Edit</a></button></td>
                <td><button><a href="/deleteData?id=<%=e.id%>">Delete</a></button></td>
            </tr>
       <%})%>
    </table>
</body>
</html>