<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KUDIl</title>
    <link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="img/i2symbol_10.1.10.110-removebg-preview.png">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="home-media.css">
</head>
<body>
    <header>
        <nav>
            <img src="https://dtkudil.wpenginepowered.com/wp-content/themes/kudil/images/light-logo.png" alt="">
            <div class="d1">
                <div class="d2">
                    <a href="" id="a1">Home</a>
                    <a href="about.html">About Us</a>
                    <a href="">Events</a>
                    <a href="">Menu</a>
                    <a href="">Reservation</a>
                    <a href="">Shop</a>
                    <a href="contact.html">Contact Us</a>
                </div>
                <div class="d3">
                    <a href="">Book A Table</a>
                </div>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-google-plus-g"></i>
            </div>
        </nav>
    </header>

    <div class="d4" >
        <center>
        <h1 >Experience the grand setting</h1>

        <h1 id="d4-h1">the celebrated cuisine of</h1>

        <img src="https://dtkudil.wpenginepowered.com/wp-content/uploads/2018/05/txt-bg.png" alt="">
        <h1 id="d4-h1-2">kudil - restaurant</h1>

        <i class="fa-solid fa-angles-down fa-bounce"></i>
    </center>
    </div>

    <div class="d5">
        <div class="d6">
            <div class="d7">
                <center>
                    <h4>History of</h4>
                    <h2>Our Restaurant</h2>
                    <img src="https://dtkudil.wpenginepowered.com/wp-content/uploads/2018/04/flower-decor.png" alt="">

                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>

                    <a href="#"><span>Our Story</span></a>
                </center>
            </div>
            <div class="d10">
                <div class="d9">
                    <img src="https://dtkudil.wpenginepowered.com/wp-content/uploads/2018/09/home-image-1-2.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="d8">
            <div class="d10">
                <div class="d11">
                    <img src="https://dtkudil.wpenginepowered.com/wp-content/uploads/2018/09/home-image-1-1.jpg" alt="">
                </div>

            </div>
            <div class="d7">
                <center>
                    <h4>Delicated</h4>
                    <h2>Our Services</h2>
                    <img src="https://dtkudil.wpenginepowered.com/wp-content/uploads/2018/04/flower-decor.png" alt="">

                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>

                    <a href="#"><span>View More</span></a>
                </center>

            </div>

        </div>
    </div>

    <div class="d12">
        <h1>Over 250 Delicious & Tasty</h1>
        <center>
            <a href="">Recipes</a>
        </center>
    </div>

    <div class="d13">
        <center>
            <h4>For your comfort</h4>
            <h2>Stunning Things</h2>
            <img src="https://dtkudil.wpenginepowered.com/wp-content/uploads/2018/04/flower-decor-2.png" alt="">
        </center>

        <div class="d14">
            <div class="d15">
                <div class="d17">
                    <img src="https://dtkudil.wpenginepowered.com/wp-content/uploads/2018/08/ico-1.png" alt="">
                    <h4>High Quality Foods</h4>
                    <p>Etiam feugiat eleifend est, sed luctus odio tempor vitae. Vivamus maximus scelerisque ipsum nec commodo.</p>
                </div>
                <div class="d17">
                    <img src="https://dtkudil.wpenginepowered.com/wp-content/uploads/2018/08/ico-2.png" alt="">
                    <h4>Inspiring Recipes</h4>
                    <p>Etiam feugiat eleifend est, sed luctus odio tempor vitae. Vivamus maximus scelerisque ipsum nec commodo.</p>
                </div>
                <div class="d17">
                    <img src="https://dtkudil.wpenginepowered.com/wp-content/uploads/2018/08/ico-3.png" alt="">
                    <h4>Salutary Meals</h4>
                    <p>Etiam feugiat eleifend est, sed luctus odio tempor vitae. Vivamus maximus scelerisque ipsum nec commodo.</p>
                </div>
            </div>
            <div class="d16">
                <div class="d17">
                    <img src="https://dtkudil.wpenginepowered.com/wp-content/uploads/2018/08/ico-4.png" alt="">
                    <h4>Veteran Staff</h4>
                    <p>Etiam feugiat eleifend est, sed luctus odio tempor vitae. Vivamus maximus scelerisque ipsum nec commodo.</p>
                </div>
                <div class="d17">
                    <img src="https://dtkudil.wpenginepowered.com/wp-content/uploads/2018/08/ico-5.png" alt="">
                    <h4>Pristine Ingredients</h4>
                    <p>Etiam feugiat eleifend est, sed luctus odio tempor vitae. Vivamus maximus scelerisque ipsum nec commodo.</p>
                </div>
                <div class="d17">
                    <img src="https://dtkudil.wpenginepowered.com/wp-content/uploads/2018/08/ico-6.png" alt="">
                    <h4>Express Delivery</h4>
                    <p>Etiam feugiat eleifend est, sed luctus odio tempor vitae. Vivamus maximus scelerisque ipsum nec commodo.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="d19">
        <center>
            <h3 id="d19-2">Enjoy with Family and Friends</h3>
            <strong>25% Discount</strong>
            <h4>for Family Parties! Coupon 015</h4>
            <h3 id="d19-1">Make a Reservation</h3>

        </center>
    </div>
    <div class="d20">
        <div class="d21">
            <div class="d22">
                <h4>Salubrious Snacks</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incid iduntus ut</p>
                <img src="https://dtkudil.wpenginepowered.com/wp-content/uploads/2018/08/ico7.png" alt="">
            </div>
            <div class="d22">
                <h4>Healthy Drinks</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incid iduntus ut</p>
                <img src="https://dtkudil.wpenginepowered.com/wp-content/uploads/2018/08/ico8.png" alt="">
            </div>
            <div class="d22">
                <h4>Chocolate Desserts</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incid iduntus ut</p>
                <img src="https://dtkudil.wpenginepowered.com/wp-content/uploads/2018/08/ico9.png" alt="">

            </div>
        </div>
        <div class="d21">
            <center>
            <img src="https://dtkudil.wpenginepowered.com/wp-content/uploads/2018/09/center-img2.jpg" alt="">
        </center>
        </div>
        <div class="d21">
            <div class="d23">
                <h4>Hot Spirits</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incid iduntus ut</p>
                <img src="https://dtkudil.wpenginepowered.com/wp-content/uploads/2018/08/ico10.png" alt="">
            </div>
            <div class="d23">
                <h4>Packaged Foods</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incid iduntus ut</p>
                <img src="https://dtkudil.wpenginepowered.com/wp-content/uploads/2018/08/ico11.png" alt="">
            </div>
            <div class="d23">
                <h4>Spicy Stuff</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incid iduntus ut</p>
                <img src="https://dtkudil.wpenginepowered.com/wp-content/uploads/2018/08/ico12.png" alt="">
            </div>
        </div>
    </div>
    

    <div class="d24">
        <div class="d25">
            <center>
                <h4>Embracing</h4>

                <h2>Seasonal Menus</h2>
                <h1>_________</h1>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>

                <a href="#"><span>Shop Now</span></a>

            </center>
        </div>


        <div class="d26">
            <div class="d27">
                <div class="d29">
                    <div class="d35"><center><p>+</p></center></div>
                </div>
                <div class="d30">
                    <div class="d35"><center><p>+</p></center></div>
                </div>
                <div class="d31">
                    <div class="d35"><center><p>+</p></center></div>
                </div>
            </div>
            <div class="d28">
                <div class="d32">
                    <div class="d35"><center><p>+</p></center></div>
                </div>
                <div class="d33">
                    <div class="d35"><center><p>+</p></center></div>
                </div>
                <div class="d34">
                    <div class="d35"><center><p>+</p></center></div>
                </div>
            </div>
        </div>
    </div>


    <div class="d36">
        <center>
        <h4>Talent and Experience</h4>
        <h2>Team Members</h2>
    
        <img src="https://dtkudil.wpenginepowered.com/wp-content/uploads/2018/04/flower-decor.png" alt="">
    </center>

        <div class="d37">
            <div class="d38"></div>
            <div class="d39"></div>
            <div class="d40"></div>
        </div>
    </div>

    <div class="d41">
        <center>
            <h3>Need a Quality & Taste Improve?</h3>
            <h4>Signup with Newsletter</h4>
        </center>
    </div>


    
    <div style="width: 100%" class="d42">
        <center><iframe width="100%" height="625px" frameborder="0" scrolling="no" marginheight="0"
        marginwidth="0"
        src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Rajkot+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
            href="https://www.maps.ie/population/">Population Estimator map</a></iframe>
        </center>
    </div>






    <div class="d43">
        <div class="d44">
            <div class="d45">
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-google-plus-g"></i>

            </div>
            <div class="d45">
                <center>
                    <img src="https://dtkudil.wpenginepowered.com/wp-content/themes/kudil/images/light-logo.png" alt="">

                </center>
            </div>
            <div class="d45">
                <input type="email" placeholder="Your Email Address">
            </div>
        </div>

        <div class="d46">
            <div class="d47">
                <center>
                    <br>
                    <h6>Address</h6>
                    Eight Avenue 385,
                    <br>
                    Newyork
                </center>
            </div>
            <div class="d47">
                <center>
                    <h6 id="d47-h">Open Timing</h6>
                    <h4>Monday-Friday</h4>
                    <strong>7am - 10am
                        <br>
                        (Breakfast,Lunch,Dinner)
                    </strong>
                </center>
            </div>
            <div class="d47" style="border: none;">
                <center>
                    <br>
                    <h6>Contact</h6>
                    <a href="">example@example.com</a><br><br>
                    +7(111)8765432
                </center>

            </div>
        </div>

        <div class="d48">
            <center>
                <p>© 2018 DESIGNTHEMES. ALL RIGHTS RESERVED.</p>
            </center>
        </div>
    </div>

</body>
</html>